<footer class="footer">
  <small>
    The <a href="http://blog.tinf14b3.de">StudentPlanner</a>
    by Team FILIADATA
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
      <li><a href="http://blog.tinf14b3.de">News</a></li>
    </ul>
  </nav>
</footer>